/* App.css */

body, html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;

  overflow: hidden;
}





