.how-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f4f7ff;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.07);
}

.how-container h1 {
  text-align: center;
  color: #222;
  margin-bottom: 20px;
}

.how-container ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.how-container li {
  margin-bottom: 12px;
  font-size: 1.1em;
  color: #444;
}

.how-container strong {
  color: #222;
}


@media (max-width: 900px) {
  .how-container {
    width: 70%;
  }
}